{% extends 'base.html.twig' %}

{% block body %}

	<div class="d-flex justify-content-between align-items-center">
		<h1 class="text-muted">Users list</h1>
		<a href="/create" class="btn btn-outline-secondary align-center">Add new</a>
	</div>

	<hr>


	{% if users|length > 0 %}

		<table class="table">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">email</th>
					<th scope="col">roles</th>
					<th scope="col">created at</th>
					<th scope="col">actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<th scope="row">{{user.id}}</th>
						<td>{{user.email}}</td>

						{% if "ROLE_USER" in user %}
						<td>User</td>
						{% else %}
						<td>Admin</td>
						{% endif %}

						<td>{{user.createdAt|date('Y-m-d H:i:s')}}</td>
						<td class="d-flex">
							<a href="{{path('user-edit', {'id': user.id})}}" class="btn btn-primary">edit</a>

							<form action="{{ path('user-delete', {'id': user.id}) }}" method="POST" class="form-inline">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="csrf_user-delete" value="{{ csrf_token('user-delete') }}">

								<button class="btn btn-danger">remove</button>
							</form>
						</td>
					</tr>
        		{% endfor %}
				</tbody>
			</tbody>
		</table>

	{% else %}
		<h1>No users found</h1>
	{% endif %}


{% endblock %}
