{{ form_start(form, {'attr': {'class': 'form'}}) }}
    {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.slug, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
    <button class="btn">{{ button_label|default('Zapisz') }}</button>
{{ form_end(form) }}
